<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>

    <aside>
      <h2>Recent Articles</h2>
        <% blog.articles[0...10].each do |article| %>
          <%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span>
        <% end %>

      <h2>Tags</h2>
        <% blog.tags.each do |tag, articles| %>
          <%= link_to "#{tag} (#{articles.size})", tag_path(tag) %>
        <% end %>

      <h2>By Year</h2>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <%= link_to "#{year} (#{articles.size})", blog_year_path(year) %>
        <% end %>
    </aside>
  </body>


</html>
